
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

#site-header{
  height: 400px;
  background-color: #c3d4e5;
  border-style: solid;
  border-width: medium;
  border-color: black;}

#title{
  float: center;
  margin-left: 0.75em;
  font-family: 'Press+Start+2p';
  font-size: 28 px
  color: #dee1ab;}

#logo{
    float: center;
    margin-right: 0.75em
    padding: 10px}

#content{
  width: 100%auto;
  margin: 0;
  overflow: auto;}

  #side-menu{
    margin:0;
    padding:2px;
    float:left;
    width:25%;
    min-height:300px;
    height:80%;
    background-color:#fff093;}

    #main{
      margin:0;
      padding:2px;
      float:right;
      width:75%;
      max-height: 80%;
      background-color:#8b60f6;
      overflow:scroll;}
