
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

header{
  font-size: 32px;
  background-color: #fff093;}

body{
  width:90%;
  margin: 0 auto;}
#content {overflow:auto;}
#nav, #feature, #footer {
  margin:1%;
  overflow:scroll;}

.column1, .column2, .column3 {
  width:31.3%;
  float:left;
  margin:1%;
  overflow:scroll;}
.column3 {margin-right:0%;}
li{
  display:in line;
  padding:0.5em;}
#nav, #footer{
  font-family:'Press+Start+2P',cursive;
  background-color: #c3d4e5;
  padding: 0.5em 0;}
#feature, .article {
  height: 10em;
  margin-bottome: 1em;
  background-color:#fff093;
  font-family:'Press+Start+2P',cursive;}
